@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.food-card{
    width: 40vh;
    text-align: center;
    box-shadow: 0px 5px 4px gray;
}
img{
    width: 70%;
    margin: 10px;

}
h3{
    padding-bottom: 5px;
}
.randomDiv .food-card:hover{
    background-color: #FCCD22;
    cursor: pointer;
}
.randomDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10vh;
}
.randomDiv h1{
    padding-top: 10vh;
    padding-right: 10vh;
}
#searched-food{
    display: flex;
    flex-wrap: wrap;
}
#searched-food .food-card{
    margin: 5vh;
}
.search-button-Div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ingredeints{
    width: 40vh;
    height: fit-content;
    text-align: center;
    border: 2px solid grey;
    box-shadow: 0 0 4px gray;
    border-radius: 1vh;
    background-color: white;
    cursor: pointer;
    animation: popup 0.5s;
}
.ingredeintsDiv{
    display: flex;
    justify-content: center;
    position: fixed;
    padding-top: 100px;
    padding-bottom: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 80%; 
    background-color: rgba(0,0,0,0.4);
}
.recipeDiv{
    display: flex;
    justify-content: center;
    position: fixed;
    padding-top: 100px;
    padding-bottom: 200px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
}
.showRecipe{
    display: none;
}
.Recipe{
    width: 25%;
    height: fit-content;
    text-align: center;
    border: 2px solid grey;
    box-shadow: 0 0 4px gray;
    border-radius: 1vh;
    background-color: white;
    animation: popup 0.5s;
    margin-left: auto;
    margin-right: auto;
}
.Recipe img{
    width: 30%;
}
@keyframes popup{
    from{
        scale:0.5;
    }
    to{
        scale: 1;
    }
}
.hide{
    display: none;
}
.searchedDiv h1{
    text-align: center;
}
.navbar{
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
    height: 7vh;
    margin: 5vh;
}
.introbox{
    height: 40vh;
    background-color: #FCCD22;
    color: white;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-around;
}
.foodimg{
    width: 60vh;
    margin-bottom:0 ;
}
.eatlovecook{
    font-size: 10vh;
    padding-top: 5vh;
}
footer{
    background-color: #FCCD22;
    color: black;
    font-size: 3vh;
    display: flex;
    justify-content: space-around;
}
.footerimg{
    width: 5vh;
}
.button{
    border-radius: 5px;
    border: none;
    width: 20vh;
    height: 5vh;
    box-shadow: 0px 0px 4px grey;
    color: white;
    font-size: 2vh;
    background-color: #FCCD22;
    cursor: pointer;

}
#searchBox{
    text-align: center;
    width: 35vh;
    border-radius: 5px;
    border-style:inset;
    border: none;
    box-shadow: 0px 0px 4px grey;
    color: black;
    font-size: 110%;
    background-color: white;
    padding-bottom: 2vh;
    margin-right: 4vh;
}
.notfound{
    text-align: center;
}
#closeRecipe{
    color: white;
    background-color: #FCCD22;
    border-radius: 5px;
    box-shadow: 0 0 4px grey;
    margin: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
    cursor: pointer;
}
.watchRecipe-btn{
    color: white;
    background-color: #FCCD22;
    border-radius: 5px;
    box-shadow: 0 0 4px grey;

    margin-left: 5vh;
    margin-right: 5vh;
}
#recipe-btn{
    /* display: flex; */
    height: 3vh; 
    cursor: pointer;
    color: white;
    background-color: #FCCD22;
    border-radius: 5px;
    margin-right: 7vh;
    margin-left: 7vh;
    box-shadow: 0 0 4px grey;
}
a{
    color: white;
}
@media only screen and  (max-width: 800px){
    .foodimg{
        display: none;
    }
}
@media only screen and  (max-width: 600px){

.randomDiv{
    display: block;
    font-size: 70%;
    margin-left: 3vh;
}
.introbox p{
    color:black;
}
.nav{
    display: flex;
    justify-content: center;
    height: 7vh;
    margin: 4vh;
}
.searchedDiv .food-card{
    margin-left: 2vh;
}
.randomDiv h1{
    padding-top: 0vh;
}
.introbox p{
    display: none;
}
.eatlovecook{
    padding-top: 0;
    margin: 3vh;
}
.button{
    margin-top: 2vh;
}
.Recipe{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
}