@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.food-card{
    width: 40vh;
    text-align: center;
    box-shadow: 0 0 4px gray;
}
img{
    width: 70%;
    margin: 10px;
}
h3{
    padding-bottom: 5px;
}
.randomDiv .food-card:hover{
    background-color: #FCCD22;
    cursor: pointer;
}
.randomDiv{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}
.randomDiv h1{
    padding-top: 10vh;
    padding-right: 10vh;
}
#searched-food{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10vh; 
}
.search-button-Div{
    display: flex;
    justify-content: center;
}
.search-button-Div #searchBox{
    margin-right: 4vh;
}
.ingredeints{
    width: 40vh;
    height: fit-content;
    text-align: center;
    border: 2px solid grey;
    box-shadow: 0 0 4px gray;
    border-radius: 1vh;
    background-color: white;
    cursor: pointer;
    animation: popup 0.5s;
}
.ingredeintsDiv{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 200px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 80%; /* Full height */
    background-color: rgba(0,0,0,0.4); Black w/ opacity
    
}
@keyframes popup{
    0%{
        scale: 0.5;
    }
    100%{
        scale: 1;
    }
}
.hide{
    display: none;
}
.searchedDiv h1{
    text-align: center;
}
.navbar{
    width: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
    height: 7vh;
    margin: 5vh;
}
.introbox{
    height: 40vh;
    background-color: #FCCD22;
    color: white;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-around;
}
.foodimg{
    width: 60vh;
    margin-bottom:0 ;
    /* position: relative;
    left: 130vh;
    top: -30vh; */
}
.eatlovecook{
    font-size: 10vh;
    padding-top: 5vh;
}
footer{
    background-color: #FCCD22;
    color: black;
    font-size: 3vh;
    display: flex;
    justify-content: space-around;
}
.footerimg{
    width: 5vh;
}
.button{
    border-radius: 5px;
    border: none;
    width: 20vh;
    height: 5vh;
    box-shadow: 0px 0px 4px grey;
    color: white;
    font-size: 2vh;
    background-color: #FCCD22;
}
#searchBox{
    width: 35vh;
    border-radius: 5px;
    border-style:inset;
    border: none;
    box-shadow: 0px 0px 4px grey;
    color: black;
    font-size: 2vh;
    background-color: white;
}
@media only screen and  (max-width: 600px){
.foodimg{
    display: none;
}
.randomDiv{
    display: block;
    font-size: 70%;
    margin-left: 2vh;
}
.introbox p{
    color:black;
}
.nav{
    display: flex;
    justify-content: center;
    height: 7vh;
    margin: 4vh;
}
.searchedDiv .food-card{
    margin-left: 2vh;
}
.randomDiv h1{
    padding-top: 0vh;
}
.introbox p{
    display: none;
}
.eatlovecook{
    padding-top: 0;
    margin: 3vh;
}
}